*.o
writer
Test_*_Runner.c
build/
crosstool-ng
aesd-build
.vscode/
test.sh.log
# Ignore large build directories and artifacts
linux-stable/
busybox/
busybox-*.tar.*
*.o
*.d
*.img
*.bin
*.gz
*.cpio
*.log
*.old
*.tmp
*.swp
*.cmd
__pycache__/
core
vmlinux
